<!DOCTYPE html>
<html lang="{{ app()->getLocale() }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script type="module" src="../js/app.js"></script>
  <link rel="icon" href="{{asset('/img/logob.png')}}">

  <title>ola mundo</title>
</head>
<body>
<div id="app"></div>

<script>
  var config = {
    appName: "{{ config('app.name') }}",
    locale: "{{ app()->getLocale() }}",
    locales: "{{ json_encode(config('app.locales')) }}",
    githubAuth: "{{ config('services.github.client_id') }}",
    notion: {
      worker: "{{ config('services.notion.worker') }}"
    },
    links: "{{ json_encode(config('links')) }}",
    production: {{ App::isProduction() ? 'true' : 'false' }},
    hCaptchaSiteKey: "{{ config('services.h_captcha.site_key') }}",
    google_analytics_code: "{{ config('services.google_analytics_code') }}",
    amplitude_code: "{{ config('services.amplitude_code') }}",
    crisp_website_id: "{{ config('services.crisp_website_id') }}"
  };
  window.config = config;
  window.$crisp = [];
</script>

@if(config('services.google_analytics_code'))
<!-- Global site tag (gtag.js) - Google Analytics -->
<script defer src="https://www.googletagmanager.com/gtag/js?id={{ config('services.google_analytics_code') }}"></script>
<script defer>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', "{{ config('services.google_analytics_code') }}", {{ App::isProduction() ? '' : '{ send_page_view: false, debug_mode:true }' }});
</script>
@endif

</body>
</html>
